*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    overflow-x: hidden;
}
body{
    background-color: white;
}
.nav-1 {
    position: relative;
    background-color: #212b85;
    padding: 20px;
    text-align: center;
    width: 100vw;
  }
  /* Estilos para la lista de elementos del menú */
  .nav-1 ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
  }
  /* Estilos para cada elemento del menú */
  .nav-1 li {
    margin-right: 20px;
    padding: 6px;
    margin-right: 40px;
    margin-left: 30px;
  }
  .nav-1 a {
    color: #fff;
    text-decoration: none;
    transition: color 0.2s ease;
    border: 0;
  }
  .nav-1 input{
      border: 0;
      padding: 10px;
      width: 50vw;
      border-radius: 15px;
      margin: 0 none;
  }
  .nav-1 a:hover {
    color: #ff27db;
  }
  .nav-1 a:active{
      color: #202020;
  }
.encabezado{
    width: 100vw;
    padding: 15px;
    background-color: rgb(0, 108, 180);
    /*background-image:linear-gradient(to right,rgb(0, 0, 0),rgb(0, 0, 0,0.6)) ,url();*/
}
.menu{
    position: sticky;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
}
.menu h1{
    position: relative;
    color: rgb(255, 255, 255);
    left: 100px;
}
.navba ul{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}
.navba li a{
    position: relative;
    margin: 0 70px;
    color: rgb(255, 255, 255);
    right: 20px;
    font-size: 20px;
}
.navba li a:hover{
    color:  #7a0066;
}
.navba li a:active{
    color:  #ff27dbbe;
}
.innovacion{
    position:static;
    display: flex;
    margin: 60px;
    justify-content: center;
    align-items: center;
}
.innovacion1, .innovacion2, .innovacion3, .innovacion4{
    position: relative;
    padding: 30px;
    width: 370px;
    height: 500px;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #ffffff;
    border-radius: 8px;
    margin: 15px;
    overflow: hidden;
    text-align: center;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.534);
}
.innovacion1 h2, .innovacion2 h2, .innovacion3 h2, .innovacion4 h2{
    position: relative;
    text-align: center;
    margin-bottom: 15px;
    color: rgb(0, 0, 0);
}
.innovacion1 p, .innovacion2 p, .innovacion3 p, .innovacion4 p{
    position: relative;
   text-align: left;
}

.form1{
    margin: 50px;
    color: rgb(0, 0, 0);
    font-size: 30px;
    text-align: center;
}
form{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction:column;
}
label{
    text-align: left;
    font-size: 20px;
    color: rgb(0, 0, 0);
    margin-bottom: 10px;
}
form input,form textarea{
    padding: 20px;
    width: 1110px;
    font-size: 15px;
    margin-bottom: 20px;
    border-radius: 15px;   
}
:focus{
    outline: 1px solid rgb(49, 124, 238);
}
.btn{
    position: static;
    background-color:rgb(14, 102, 233);
    width: 150px;
    border: none;
    padding: 20px;
    border-radius:10px;
    color: white;

}