*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    overflow-x: hidden;
}
body{
    background-color: white;
}
.nav-1 {
    position: relative;
    background-color: #212b85;
    padding: 20px;
    text-align: center;
    width: 100vw;
  }
  /* Estilos para la lista de elementos del menú */
  .nav-1 ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
  }
  /* Estilos para cada elemento del menú */
  .nav-1 li {
    margin-right: 20px;
    padding: 6px;
    margin-right: 40px;
    margin-left: 30px;
  }
  .nav-1 a {
    color: #fff;
    text-decoration: none;
    transition: color 0.2s ease;
    border: 0;
  }
  .nav-1 input{
      border: 0;
      padding: 10px;
      width: 50vw;
      border-radius: 15px;
      margin: 0 none;
  }
  .nav-1 a:hover {
    color: #14f7ff;
  }
  .nav-1 a:active{
      color: #202020;
  }
.encabezado{
    width: 100vw;
    padding: 15px;
    background-color: rgb(0, 108, 180);
    /*background-image:linear-gradient(to right,rgb(0, 0, 0),rgb(0, 0, 0,0.6)) ,url();*/
}
.menu{
    position: sticky;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
}
.menu h1{
    position: relative;
    color: rgb(255, 255, 255);
    left: 100px;
}
.navba ul{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}
.navba li a{
    position: relative;
    margin: 0 70px;
    color: rgb(255, 255, 255);
    right: 20px;
    font-size: 20px;
}
.navba li a:hover{
    color: #14f7ff;
}
.navba li a:active{
    color: #3ac9ce;
}